<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/logo.jpg" class="logo">
    </div>
    <div class="col-md-6 text-right">
      <h2>Nifty task Manager</h2>
    </div>
  </div>
  <hr class="rule">
  <div ui-view></div>
  </div>
  </div>