<!doctype html>
<html lang="en" ng-app="TaskManager">

<head>
  <meta charset="utf-8">
  <title>TaskManager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--STYLES-->
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--STYLES END-->
  <!--<link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.css">-->
</head>

<body>
  <%-body%>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/components/jquery/dist/jquery.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-route/angular-route.js"></script>
    <script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/components/angular-ui-router/angular-ui-router.js"></script>
    <!--SCRIPTS END-->
    <script src="/common/app.js"></script>
    <script src="/common/directives.js"></script>
    <script src="/common/filters.js"></script>
    <script src="/common/RestCallService.js"></script>
    <script src="/common/services.js"></script>
    <script src="modules/todo/TodoController.js"></script>
    <script src="modules/detail/TaskDetailController.js"></script>
    <script src="modules/dashboard/DashboardController.js"></script>
</body>

</html>